[submodule ".registry"]
	path = .registry
	url = https://github.com/talleresdedatos/universe
	branch = HEAD
[submodule "ejerciciosT1"]
	path = ejerciciosT1
	url = https://github.com/talleresdedatos/ejerciciosT1
[submodule "ejerciciosT2"]
	path = ejerciciosT2
	url = https://github.com/talleresdedatos/ejerciciosT2
